Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.36
paramiko==3.4.1
pywinrm==0.4.3
APScheduler==3.10.4
openpyxl==3.1.5
python-docx==1.1.2
reportlab==4.2.5
Werkzeug==3.0.6
cryptography==43.0.3
bcrypt==4.2.1
Jinja2==3.1.4
MarkupSafe==2.1.5
click==8.1.7
itsdangerous==2.2.0
pytz==2024.2
six==1.16.0
cffi==1.17.1
pycparser==2.22
